<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestStore-NAT</title>
    <link href="../styles/normalize.css" rel="stylesheet">
    <!--Third party resources-->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="icon" href="../images/QuestStore-NAT_icon.jpg" type="image">
    <link href="../styles/fontello/css/queststore-nat.css" rel="stylesheet">
    <!--Our styles-->
    <link href="../styles/main.css" rel="stylesheet" />
    <!--Our scripts-->
    <script defer src="../javascript/Include.js"></script>
    <script defer src="../javascript/QuestReward.js"></script>
    <script defer src="../javascript/Popup.js"></script>
</head>

<body>
    <div class="container">
        <div w3-include-html="navBarLogged.html"></div>

        <div class="landing">
            <div w3-include-html="sidebar.html"></div>


            <div id="landing__content" class="landing__content">
                <div class="landing__content__wrapper">
                    <h3 class="landing__content--border landing__content--margin">Would you like to buy something for yourself?</h3>
                </div>
                <div id="dividerh3" class="landing__content__wrapper">
                    <h3 class="landing__content--border landing__content--margin">Would you like to buy something for the group?</h3>
                </div>
                <!--Ensures the entire DOM tree is loaded and then execute the function.-->
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        printAllIndividualRewards("put after individual h3");
                    }, false);
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        printAllGroupRewards();
                    }, false);
                </script>

                <!--
                <div class="questreward" onclick="togglePopup()">
                    <h3 class="questreward__title">Test Reward</h3>
                    <h3 class="questreward__cost">34cc</h3>
                    <p class="questreward__description">Simple description of what is going on</p>
                </div>
                -->

                <div id="popup" class="popup">
                    <div class="popup__overlay"></div>
                    <div class="popup__content">
                      <div class="popup__close-btn" onclick="togglePopup()">&times;</div>
                      <h3>  </h3>
                      <p>Would you like to buy this artifact?</p>
                      <button id="quest-reward-add" class="dropdown__button dropdown--margin button--color--individual" type="submit" onclick="togglePopup()">BUY</button>
                    </div>
                </div>

                <div id="popup--group" class="popup">
                    <div class="popup__overlay"></div>
                    <div class="popup__content">
                      <div class="popup__close-btn" onclick="togglePopupGroup()">&times;</div>
                      <h3>  </h3>
                      <p>Would you like to buy this artifact for group?</p>
                      <button id="quest-reward-add" class="dropdown__button dropdown--margin button--color--group" type="submit" onclick="togglePopupGroup()">BUY</button>
                    </div>
                  </div>
            </div>
        </div>


        <div w3-include-html="footer.html"></div>
    </div>
</body>
</html>
