<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/normalize.css" rel="stylesheet">
    <!--Third party resources-->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="../styles/fontello/css/queststore-nat.css" rel="stylesheet">
    <!--Our styles-->
    <link href="../styles/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="main-navigation">
            <ul>
                <li><a href="index.html">Main</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>