<aside class="landing__sidebar-menu">
    <div class="">
        <h3>Main Menu:</h3>
        <ul>
            <li><a href="showProfileStudent.html"><button class="dropdown__button">Show My Profile</button></a></li>
            <li><a href="Artifact.cshtml"><button class="dropdown__button">Artifacts Shop</button></a></li>
            <li><a href="allQuests.html"><button class="dropdown__button">Quests</button></a></li>
            <li><a href="Students_All.html"><button class="dropdown__button">All Students</button></a></li>
            <li><a href="Student_Add.html"><button class="dropdown__button">Add Student</button></a></li>
            <li><a href="addQuestReward.html"><button class="dropdown__button">Add Quest/Artifact</button></a></li>
            <li><a href="Mentors_All.html"><button class="dropdown__button">All Mentors</button></a></li>
            <li><a href="Mentor_Add.html"><button class="dropdown__button">Add Mentor</button></a></li>
            <li><a href="Classroom_Add.html"><button class="dropdown__button">Add Classroom</button></a></li>
        </ul>
    </div>
</aside>