<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestStore-NAT</title>
    <link href="../styles/normalize.css" rel="stylesheet">
    <!--Third party resources-->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="icon" href="../images/QuestStore-NAT_icon.jpg" type="image">
    <link href="../styles/fontello/css/queststore-nat.css" rel="stylesheet">
    <!--Our styles-->
    <link href="../styles/main.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div w3-include-html="navBarLogged.html"></div>
        <div class="landing">
            <div w3-include-html="sidebar.html"></div>


            <!--loading mentors-->
            <div class="landing__content">
                <div class="inside_landing">
                    <div class="show-all_box">
                        <div class="show-all_user">
                            <h3 class="user_name">The First Student</h3>
                            <h4 class="user_position"> Class 1 </h4>
                            <p class="show-all_text">Students in the online cohort had lectures to watch and assignments to complete each week, logging into live classes via video.</p>
                        </div>
                    </div>
                
                    <div class="show-all_box">
                        <div class="show-all_user">
                            <h3 class="user_name">The Second Student</h3>
                            <h4 class="user_position"> Class 3 </h4>
                            <p class="show-all_text">Students in the online cohort had lectures to watch and assignments to complete each week, logging into live classes via video.</p>
                        </div>
                    </div>
                
                    <div class="show-all_box">
                        <div class="show-all_user">
                            <h3 class="user_name">The Third Student</h3>
                            <h4 class="user_position"> Class 2 </h4>
                            <p class="show-all_text">Students in the online cohort had lectures to watch and assignments to complete each week, logging into live classes via video.</p>
                        </div>
                    </div>
               
                    <div class="show-all_box">
                        <div class="show-all_user">
                            <h3 class="user_name">The Fourth Student</h3>
                            <h4 class="user_position"> Class 2 </h4>
                            <p class="show-all_text">Students in the online cohort had lectures to watch and assignments to complete each week, logging into live classes via video.</p>
                        </div>
                    </div>

                    <div class="show-all_box">
                        <div class="show-all_user">
                            <h3 class="user_name">The Fifth Student</h3>
                            <h4 class="user_position"> Class 5 </h4>
                            <p class="show-all_text">Students in the online cohort had lectures to watch and assignments to complete each week, logging into live classes via video.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end loading mentors-->
        </div>
        

        <div w3-include-html="footer.html"></div>
    </div>
    <script src="../javascript/mentors.js" async defer></script>
    <script src="../javascript/Include.js" async defer></script>

</body>

</html>