<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuestStore-NAT</title>
    <link href="../styles/normalize.css" rel="stylesheet">
    <!--Third party resources-->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="icon" href="../images/QuestStore-NAT_icon.jpg" type="image">
    <link href="../styles/fontello/css/queststore-nat.css" rel="stylesheet">
    <!--Our styles-->
    <link href="../styles/main.css" rel="stylesheet" />
    <script defer src = "../javascript/studentJS.js"></script>
    
</head>

<body>
    <div class="container">
        <div w3-include-html="navBarLogged.html"></div>


        <div class="landing">
            <aside class="landing__sidebar-menu">
                <div class="">
                    <h3>Main Menu:</h3>
                    <ul>
                        <li><button class="dropdown__button"><a href="showProfileStudent.html">Show My Profile</a></button></li>
                        <li><button class="dropdown__button"><a href="allRewards.html">Artifacts Shop</a></button></li>
                        <li><button class="dropdown__button"><a href="allQuests.html">Quests</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">All Students</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Add Student</a></button></li>
                        <li><button class="dropdown__button"><a href="addQuestReward.html">Add Quest/Reward</a></button></li>
                        <li><button class="dropdown__button"><a href="mentorsView.html">All Mentors</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Add Mentor</a></button></li>
                        <li><button class="dropdown__button"><a href="profile.html">Add Classroom</a></button></li>
                    </ul>
                </div>
            </aside>
            <div class="panelWelcome">
                <div class="welcomeHeader">WELCOME !<br><span id="nameStudent"></span></div>
            </div>
        </div>


        <div w3-include-html="footer.html"></div>
    </div>
    <script src="../javascript/Include.js" async defer></script>
</body>
</html>
