@model QuestStoreNAT.web.Models.ContactForm

@{
    ViewData["Title"] = "Contact";
}

<article>
    <div class="second_header_contact"><h3>Contact Us!</h3></div>
    <div class="contact">
        <form asp-controller="Home" asp-action="Create" method="post" class="contact-width">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Name" class="dropdown--input dropdown--margin" placeholder="Enter name" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <input asp-for="Email" class="dropdown--input dropdown--margin" placeholder="Enter email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Subject" class="dropdown--input dropdown--margin" placeholder="Enter title" />
            <span asp-validation-for="Subject" class="text-danger"></span>

            <textarea asp-for="Message" class="dropdown--input dropdown--margin contact_textbox--height" placeholder="Message text..."></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>

            <div class="form__submit">
                <button type="submit" class="dropdown__button dropdown--margin">Send</button>
            </div>
        </form>
    </div>
</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
