@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-landing">
    <h1>Welcome to QuestStore by NAT</h1>
    <h2>Complete Quests, earn Codecool coins, gain experience, buy Artifacts, have Fun</h2>
    <p>On this site you can exchange your hard work for fake money and fame.</p>
    <p>Just like in real life but different.</p>
    <p>If you have been a diligent Codecooler you will be rewarded. If not come and check what you can't afford.</p>
</div>

<div class="news">
    <div class="news__featured-info">
        <h3>Check new Quests</h3>
        <p>
            Do you feel like going on an adventure? Assemble a team and move your roguelike projekt to 3D.
            500cc point are waiting for each member of a team.
            Extra 1000cc points for making it 4D.
        </p>
    </div>

    <div class="news__featured-info">
        <h3>Check new Artifacts in store</h3>
        <p>
            Would like to know more? Standard 30min. consultations does not cut it anymore?
            Book yourself a mentor for full 1h for only 1000cc.
            Satisfaction guranteed.
        </p>
    </div>
</div>
