@model QuestStoreNAT.web.Models.Mentor

@{
    ViewData["Title"] = "EditMentor";
}
<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        <div id="landing__content" class="landing__content landing__content-justify ">
            <div class="form-limit">
                <form class="form" asp-action="Edit" asp-controller="Mentor" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h3 class="dropdown--margin">Edit Mentor</h3>

                    <label asp-for="FirstName" class="dropdown--margin form-label form-margin"></label>
                    <input asp-for="FirstName" class="dropdown--input dropdown--margin form-margin" />
                    <span asp-validation-for="FirstName" class="text-danger"></span><br>

                    <label asp-for="LastName" class="dropdown--margin form-label form-margin"></label>
                    <input asp-for="LastName" class="dropdown--input dropdown--margin form-margin" />
                    <span asp-validation-for="LastName" class="text-danger"></span><br>

                    <label asp-for="Bio" class="dropdown--margin form-label form-margin"></label>
                    <textarea asp-for="Bio" class="dropdown--input dropdown--margin contact_textbox--height form-margin"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span><br>

                    <div class="form__submit">
                        <button type="submit" class="dropdown__button dropdown--margin">Save</button>
                    </div>
                </form>
            </div>
        </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}