@{
    ViewData["Title"] = "Error";
}

<h1 class="margin10 margin50top">Something went wrong!</h1>

<h3 class="margin10">@ViewBag.ErrorMessage</h3>

<h3 class="margin10">Please contact us at: NATQuest@superdevteam.com</h3>

<div class="margin10 margin50bottom margin50top"><a asp-action="index" asp-controller="home" class="info-box">Click here to navigate to the home page</a></div>
