@inject QuestStoreNAT.web.Services.ICurrentSession Session
@model QuestStoreNAT.web.Models.Credentials

@{
    ViewData["Title"] = "AddCredentials";
}

<div class="landing">

    <partial name="~/Views/Shared/_SidebarMenu.cshtml">

        @if (Session.LoggedUserRole == Role.Admin | Session.LoggedUserRole == Role.Mentor)
        {

        <div id="landing__content" class="landing__content landing__content-justify ">
            <div class="form-limit">
                <form class="form" asp-controller="Credentials" asp-action="AddCredentialsAsAdmin" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h3 class="dropdown--margin">Add Credentials</h3>

                    <label asp-for="Email" class="dropdown--margin form-label form-margin"></label>
                    <input asp-for="Email" class="dropdown--input dropdown--margin form-margin" />
                    <span asp-validation-for="Email" class="text-danger"></span><br />

                    <label asp-for="Password" class="dropdown--margin form-label form-margin">Password:</label>
                    <input id="passwrd" asp-for="Password" class="dropdown--input dropdown--margin form-margin" />
                    <span asp-validation-for="Password" class="text-danger"></span><br />

                    <div>
                        <label asp-for="Role" class="dropdown--margin form-select form-margin"></label>
                        <select asp-for="Role" class="dropdown--input dropdown--margin">
                            <option value="">Please select</option>
                            <option value=@Role.Student>Student</option>
                            @if (Session.LoggedUserRole == Role.Admin)
                            {
                                <option value=@Role.Mentor>Mentor</option>
                                <option value=@Role.Admin>Admin</option>
                            }
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span><br />
                    </div>

                    <div class="form__submit">
                        <button type="submit" class="dropdown__button dropdown--margin">Add Credentials</button>
                    </div>
                </form>
            </div>
        </div>
        }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
